MAILLAYER_CAPTURE_TOKEN=your_maillayer_capture_token
MAILLAYER_DEFAULT_TAG=draganmitic.com
AWS_REGION=eu-west-1
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
CONTACT_FROM_EMAIL=no-reply@example.com
CONTACT_TO_EMAIL=hello@example.com
CONTACT_DEBUG=false
