@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-color: #0f1b67;
}

.dark {
  --brand-color: #a5b4fc;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }
}

@layer utilities {
  .animate-reveal {
    animation: reveal 0.8s cubic-bezier(0, 0, 0.2, 1) forwards;
  }
}
