@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;

  --dark-100: #1F1F1F;
  --navy-100: #0F1B67;
  --white-100: #F5F5FA;
  --white-0: #FFFFFF;
}

body {
  background-color: var(--white-0);
  color: var(--dark-100);
  font-family: var(--font-poppins);

  font-size: 14px;
}

h1 {
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: var(--font-ibm-plex-mono);
}
